.dashboard {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

// Error page style
.error-page {
    padding: 10rem;

    &__tile {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin: 10px auto;
        overflow: hidden;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    &__main {
        text-align: center;
        padding: 2rem 10rem;

        .title {
            font-weight: 550;
            font-size: 24px;
        }

        .subtitle {
            font-size: 18px;
        }
    }

    &__action {
        margin: 0 auto;
        max-width: 20rem;

        .btn {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
// All users page style
.users {
    @include respond('xs') {
        padding: 5rem 1rem;
    }
    padding: 5rem 10rem;

    &__table {
        position: relative;
        margin: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 2rem 2rem 5rem;
        width: 100%;
        overflow: auto;

        &-heading {
            @include respond('xs') {
                flex-direction: column;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            margin-bottom: 3rem;
            width: 100%;

            .title {
                text-transform: capitalize;
                font-size: get-font-size(large);
                font-weight: get-font-weight(regular);
            }
        }
    }

}

.create-user {
    @include respond('xs') {
        width: 100%;
        padding: 0;
    }

    width: 60%;
    margin: 5rem auto 0;
    padding: 0 3rem;
}
